@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #f97316;
  --bg-color: #f0f0f0;
}

html.dark:root{
  --text-color: #86efac;
  --bg-color: #18181c;
}

/* tailwindcss 与 naive-ui 基础样式冲突 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: var(--n-color);
}

img,
video {
  height: initial;
}

/* 字体: 寒蝉圆黑体 */
@font-face {
  font-family: ChillRoundGothic;
  src: url(/font/ChillRoundGothic_Regular.otf);
}

body,
.md-editor,
:root {
  font-family: ChillRoundGothic !important;
}

/* 滚动条修改 */
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 5px;
}

html.loading body {
  overflow: hidden;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

ol,
ul,
menu {
  list-style: initial !important;
}

@keyframes card {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.n-card {
  animation: card .3s ease-in;
  background-color: var(--bg-color);
}

.n-icon {
  display: initial !important;
}

.n-loading-bar-container .n-loading-bar:not(.n-loading-bar--error){
  background-color: var(--text-color) !important;
}
