@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwindcss 与 naive-ui 基础样式冲突 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
    background-color: var(--n-color);
}

img,
video {
    height: initial;
}

/* 字体: 寒蝉圆黑体 */
@font-face {
    font-family: ChillRoundGothic;
    src: url(/font/ChillRoundGothic_Regular.otf);
}

body,
.md-editor,
:root {
    font-family: ChillRoundGothic !important;
}

/* 滚动条修改 */
body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-thumb {
    background: hsl(0deg 0% 70%);
    border-radius: 5px;
}

:root {
    color: #3f3d56;
}